<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="./CreateUserForm.css">
</head>
<body>
  <article class='create-account--form-container'>
    <div class='create-account--logo-container' onClick={handleShowHome}>
      <img src='./public/logo.png' alt='Logotipo de la pagina web' />
    </div>

    <form class='create-account-form create-account--user-form' onSubmit={handleCreateUser}>
      <label class='form-label'>
        <span>Nombre</span>
        <input
          type='text'
          name='name'
        />
      </label>
      <label class='form-label'>
        <span>Apellidos</span>
        <input
          type='text'
          name='lastname'
        />
      </label>
      <label class='form-label'>
        <span>Teléfono</span>
        <input
          type='tel'
          name='phoneNumber'
        />
      </label>
      <label class='form-label'>
        <span>Dirección</span>
        <input
          type='text'
          name='address'
        />
      </label>
      <label class='form-label'>
        <span>Nombre de usuario</span>
        <input
          type='text'
          name='username'
        />
      </label>
      <label class='form-label'>
        <span>E-mail</span>
        <input
          type='email'
          name='email'
        />
      </label>
      <label class='form-label'>
        <span>Contraseña</span>
        <input
          type='password'
          name='password'
        />
      </label>
      <button class='create-account-btn'>Crear cuenta</button>
    </form>
  </article>
</body>
</html>