{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/CreateUserForm.css' %}">
</head>
<body>
  <article class='create-account--form-container'>
    <div class='create-account--logo-container' onClick={handleShowHome}>
      <img src="{% static 'img/logo/logo.png' %}" alt='Logotipo de la pagina web' />
    </div>

    

    <form class='create-account-form create-account--user-form' onSubmit={handleCreateUser} method="POST" enctype="multipart/form-data" id="formulario">
        <!-- Security token -->
        {% csrf_token %}
        <label class='form-label'>
          <span>Tipo de usuario</span>
          <select name='user_type' onchange="cambiarNombres(this.value)">
            <option value='adoptante'>Adoptante</option>
            <option value='donante'>Donante</option>
            <option value='veterinario'>Veterinario</option>
          </select>
      </label>
      
      <article class='create-account--form-container' id='veracityArticle' style='display:none'>
        <div class='veracity-information'>
          <h3 class='veracity-title'>Declaración de veracidad de la información</h3>
          <p class='veracity-text'>Al utilizar este sitio web y proporcionar información como profesional de la veterinaria, usted declara y garantiza que toda la información proporcionada es veraz y precisa. Usted se compromete a mantener sus credenciales y detalles de contacto actualizados, y acepta que la información que proporciona será utilizada para ofrecer servicios y asistencia relacionados con la práctica veterinaria. Reconoce la importancia de la exactitud y la integridad de la información en la atención de los pacientes y clientes, y se compromete a cumplir con los más altos estándares profesionales en su campo.</p>    
        <div class='veracity--options-container'>
          <button type='button' id='rechazar'>Rechazar</button>
          <button type='button' id='aceptar'>Aceptar</button>
        </div>
        </div>
      </article>
      
      <label class='form-label' id='nombreLabel'>
        <span>Nombre</span>
        <input type='text' name='name' />
      </label>
      <label class='form-label' id='apellidosLabel'>
        <span>Apellidos</span>
        <input type='text' name='lastname' />
      </label>

      <label class='form-label'>
        <span>Teléfono</span>
        <input
          type='tel'
          name='phoneNumber'
        />
      </label>
      <label class='form-label'>
        <span>Dirección</span>
        <input
          type='text'
          name='address'
        />
      </label>
      <label class='form-label'>
        <span>Nombre de usuario</span>
        <input
          type='text'
          name='username'
        />
      </label>
      <label class='form-label'>
        <span>E-mail</span>
        <input
          type='email'
          name='email'
        />
      </label>
      <label class='form-label'>
        <span>Contraseña</span>
        <input
          type='password'
          name='password'
        />
      </label>
      <button class='create-account-btn' id='crearCuenta' type='button' onclick="validarFormulario()">Crear cuenta</button>
    </form>
    </div>


  </article>
  <script>
    function cambiarNombres(tipoUsuario) {
      var nombreLabel = document.getElementById('nombreLabel');
      var apellidosLabel = document.getElementById('apellidosLabel');
    
      if (tipoUsuario === 'veterinario') {
        nombreLabel.innerHTML = `
          <span>Nombre comercial</span>
          <input type='text' name='name' />
        `;
        apellidosLabel.innerHTML = `
          <span>NIT</span>
          <input type='text' name='lastname' />
        `;
        document.getElementById('crearCuenta').onclick = function(e) {
          e.preventDefault();
          document.getElementById('veracityArticle').style.display = 'block';
        };
        document.getElementById('aceptar').onclick = function() {
          document.getElementById('veracityArticle').style.display = 'none';
          document.getElementById('formulario').submit();
        };
        document.getElementById('rechazar').onclick = function() {
          document.getElementById('veracityArticle').style.display = 'none';
          document.getElementById('crearCuenta').onclick = function(e) {
            e.preventDefault();
            document.getElementById('veracityArticle').style.display = 'block';
          };
        };
      } else {
        nombreLabel.innerHTML = `
          <span>Nombre</span>
          <input type='text' name='name' />
        `;
        apellidosLabel.innerHTML = `
          <span>Apellidos</span>
          <input type='text' name='lastname' />
        `;
        document.getElementById('crearCuenta').onclick = function() {
          document.getElementById('formulario').submit();
        };
      }
    }

    function validarFormulario() {
      // Obtener todos los campos del formulario
      var campos = document.querySelectorAll('.create-account-form input');

      // Verificar si al menos uno de los campos está vacío
      var algunCampoVacio = Array.from(campos).some(function (campo) {
        return campo.value.trim() === '';
      });

      // Si algún campo está vacío, mostrar la advertencia; de lo contrario, enviar el formulario
      if (algunCampoVacio) {
        alert('Por favor, llene todos los campos del formulario.');
      } else {
        document.getElementById('formulario').submit();
      }
    }

</script>


</body>
</html>