<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="./EditPetCardVet.css">
</head>
<body>
  <div class='add-pet'>
    <div class='add-pet-container'>
      <img src='./public/logo.png' alt='Logotipo de la pagina web'/>
      <form class='add-pet-form'>
        <label class='add-pet-label'>
          <span>Enfermedades</span>
          <input
            type='text'
            name='diseases'
          />
        </label>
        <label class='add-pet-label'>
          <span>Chequeo en </span>
          <input
            type='date'
            name='check'
          />
        </label>
        <button>Actualizar datos</button>
      </form>
    </div>
  </div>
</body>
</html>