{% extends "base.html" %}
{% load static %}
{% block headers %}
<link rel="stylesheet" href="{% static 'css/PetCard.css' %}">
{% endblock %}

{% block content %}
<main>

   
   <div class="slider-area2 slider-height2 d-flex align-items-center">
      <div class="container">
         <div class="row">
            <div class="col-xl-12">
                  <div class="hero-cap text-center pt-50">
                     <h2>Mascotas</h2>
                  </div>
            </div>
         </div>
      </div>
   </div>
   {% for x in mascotas %} 
   <div class="card-container">
      <div class="card">
        <img src="{{ x.get_foto}}" alt="Pelusa">
        <h2>{{ x.get_nombre}}</h2>
        <p>Tamaño: {{ x.get_tamaño}}</p>
        <p>Dinero requerido: ${{ x.get_dineromantenimiento}}</p>
        <p>Espacio necesario: {{ x.get_espaciomantenimiento}}</p>
        <p>Enfermedades: {{ x.get_enfermedades}}</p>
        {% if user.is_authenticated%}
            {% if user.groups.all.0.name == 'veterinario' %}
            {% elif user.groups.all.0.name == 'donante' %}
            {% else %}
            <a class="adoptar-button" href="{% url 'adoptar_mascotas' x.id %}">Adoptar</a>

            {% endif %}
            {% elif not user.is_authenticated %}
        <a class="adoptar-button" href="{% url 'login'%}?next={% url 'mascotas'%}">Adoptar</a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
    
    </main>
{% endblock %}