<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="./PetCard.css">
</head>
<body>
  <div class="card-container">
    <div class="card">
      <img src="./public/logo.png" alt="Pelusa">
      <h2>Pelusa</h2>
      <p>Tamaño: Mediano</p>
      <p>Dinero requerido: $100</p>
      <p>Espacio necesario: Jardín</p>
      <p>Enfermedades: Gripe felina, Picazón de pulgas</p>
      <p>Próximo chequeo médico: 2023-05-15</p>
      <button class="adoptar-button">Adoptar</button>
    </div>
  </div>
</body>
</html>