{% extends "base.html" %}
{% load static %}
{% block headers %}
<link rel="stylesheet" href="{% static 'css/PetCard.css' %}">
{% endblock %}

{% block content %}
<main>

   
   <div class="slider-area2 slider-height2 d-flex align-items-center">
      <div class="container">
         <div class="row">
            <div class="col-xl-12">
                  <div class="hero-cap text-center pt-50">
                     <h2>Tus Mascotas</h2>
                  </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      {% for x in mascotas %} 
          <div class="col-sm-3">
              <div class="card">
            <img src="{{ x.get_foto}}" alt="Pelusa">
            <h2>{{ x.get_nombre}}</h2>
            <p>Tamaño: {{ x.get_tamaño}}</p>
            <p>Edad: {{ x.get_edad}}</p>
            <p>Peso: {{ x.get_peso}}</p>
            <p>Dinero requerido: ${{ x.get_dineromantenimiento}}</p>
            <p>Espacio necesario: {{ x.get_espaciomantenimiento}}</p>
            <p>Enfermedades: {{ x.get_enfermedades}}</p>
            <p>Ultimo chequeo: {{ x.get_chequeo}}</p>
            <p>Próximo chequeo médico: {{ x.get_prox_chequeo}}</p>
            {% if user.groups.all.0.name == 'adoptante' %}
            {% elif user.groups.all.0.name == 'donante' %}
            <a href="{% url 'editar_mascotas' x.id %}" class="adoptar-button">Editar</a>
            {% else %}
            <a href="{% url 'editar_mascotas_vet' x.id %}" class="adoptar-button">Editar</a>
            {% endif %}
          </div>
      </div> 
   
      {% endfor %}
    </div>

    </main>
{% endblock %}