<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="./VeracityInformation.css">
</head>
<body>
  <article class='create-account--form-container'>
    <div class='create-account--logo-container' onClick={handleShowHome}>
      <img src='./public/logo.png' alt='Logotipo de la pagina web' />
    </div>
    <div class='veracity-information'>
      <h3 class='veracity-title'>Declaración de veracidad de la información</h3>
      <p class='veracity-text'>Al utilizar este sitio web y proporcionar información como profesional de la veterinaria, usted declara y garantiza que toda la información proporcionada es veraz y precisa. Usted se compromete a mantener sus credenciales y detalles de contacto actualizados, y acepta que la información que proporciona será utilizada para ofrecer servicios y asistencia relacionados con la práctica veterinaria. Reconoce la importancia de la exactitud y la integridad de la información en la atención de los pacientes y clientes, y se compromete a cumplir con los más altos estándares profesionales en su campo.</p>
      <div class='veracity--options-container'>
        <button>Rechazar</button>
        <button>Aceptar</button>
      </div>
    </div>
  </article>
</body>
</html>