*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
}

.create-account--form-container {
  display: flex;
  font-size: 1.6rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.create-account--logo-container {
  cursor: pointer;
}

.create-account--logo-container > img{
  width: 250px;
}

.veracity-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px 20px;
  width: 320px;
  gap: 25px;
  border: 1px solid #000000;
}

.veracity-information > p {
  font-size: 1.5rem;
}

.veracity--options-container {
  display: flex;
  gap: 20px;
}

.veracity--options-container > button {
  width: 100px;
  height: 40px;
  font-size: 1.5rem;
  font-weight: 400;
  color: #ffffff;
  background-color: #03045e;
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
}

@media (min-width: 600px){
  .veracity-information {
    width: 450px;
  }

  .veracity-information > p {
    font-size: 1.6rem;
  }
}